---
import { BorderBeam } from "./ui/border-beam";
import { FaInfoCircle, FaHtml5, FaCss3Alt, FaJs, FaReact, FaPython, FaJava, FaDatabase, FaServer, FaRocketchat } from 'react-icons/fa';
import { RiTailwindCssFill } from "react-icons/ri";
import { IoLogoFirebase } from "react-icons/io5";
import { GrMysql } from "react-icons/gr";
import { DiMsqlServer } from "react-icons/di";
import { SiAstro } from "react-icons/si";

---

<h2
  class="flex items-center justify-center gap-3 text-white text-4xl font-bold text-center mb-12"
>
  <FaInfoCircle size={32} className="text-blue-700" /> Sobre mí
</h2>
<div
  class="relative z-10 max-w-4xl mx-auto p-6 rounded-xl bg-gray-800 border border-gray-700 shadow-lg shadow-gray-900/50"
>
  <BorderBeam />
  <p class="text-lg leading-relaxed mb-6 text-left text-gray-300">
    Actualmente estoy cursando mis estudios en la Universidad de La Sabana 🎓,
    donde he desarrollado una sólida base en programación y resolución de
    problemas tecnológicos.
  </p>

  <p class="text-lg leading-relaxed mb-6 text-left text-gray-300">
    Tengo experiencia en desarrollo web con HTML 
    <span class="inline-flex items-center align-middle mb-1">
      <FaHtml5 size={20} className="text-orange-500" />
    </span>, 
    CSS 
    <span class="inline-flex items-center align-middle mb-1">
      <FaCss3Alt size={20} className="text-blue-500" />
    </span>, 
    JavaScript 
    <span class="inline-flex items-center align-middle mb-1">
      <FaJs size={20} className="text-yellow-500" />
    </span>, 
    React 
    <span class="inline-flex items-center align-middle mb-1">
      <FaReact size={20} className="text-cyan-500" />
    </span>, 
    Tailwind 
    <span class="inline-flex items-center align-middle mb-1">
      <RiTailwindCssFill size={24} className="text-teal-400" />
    </span>, 
    Astro 
    <span class="inline-flex items-center align-middle mb-1">
      <SiAstro size={20} className="text-purple-500" />
    </span>, 
    creando interfaces interactivas y funcionales. También he trabajado con Python 
    <span class="inline-flex items-center align-middle mb-1">
      <FaPython size={20} className="text-yellow-500" />
    </span> 
    para desarrollar web scrapers y con Java 
    <span class="inline-flex items-center align-middle mb-1">
      <FaJava size={20} className="text-blue-700" />
    </span> 
    para programas de escritorio sencillos. Además, sé manejar bases de datos como MySQL 
    <span class="inline-flex items-center align-middle mb-1">
      <GrMysql size={20} className="text-blue-500" />
    </span>, 
    SQL Server 
    <span class="inline-flex items-center align-middle mb-1">
      <DiMsqlServer size={26} className="text-red-500" />
    </span> 
    y Firebase
    <span class="inline-flex items-center align-middle mb-1">
      <IoLogoFirebase size={20} className="text-yellow-500" />
    </span>.
  </p>  

  <p class="text-lg leading-relaxed mb-6 text-left text-gray-300">
    Manejo con fluidez inglés 🇺🇸, italiano 🇮🇹 y español 🇪🇸 lo que me permite
    colaborar en equipos diversos y comunicarme en entornos internacionales.
  </p>
  <p class="text-lg leading-relaxed mb-6 text-left text-gray-300">
    Estoy buscando oportunidades como desarrollador junior, donde pueda crecer
    profesionalmente y aportar mis habilidades al desarrollo de proyectos
    innovadores.
  </p>
  <p class="text-lg leading-relaxed text-left text-gray-300">
    <a href="mailto:giovarafi@gmail.com" class="text-[#4c63c1] font-bold hover:underline">¿Quieres saber más?</a> ¡Será un gusto
    conectar contigo!
  </p> 
    
</div>
